<!-- "About" page to describe Flax -->

<title node="con:title">About Flax</title>

<div node="con:body" id="about">
  <h1>Flax Basich</h1>
  Version <span node="-con:version"></span>.
  <p><img src="/static/img/xapian-powered.png" alt="Powered by Xapian"></p>
    
  <p>>Flax Basic is a simple enterprise search system, designed to allow you to build searchable indexes of files on your PC, intranet or website. Flax Basic is based on <a target=_blank href=http://www.lemurconsulting.com>Lemur Consulting's</a> search solution platform, <a target=_blank href=http://www.flax.co.uk>Flax</a>. Further support is available at the <a target=_blank href=http://www.flax.co.uk>Flax website</a>.</p>
    
  <p>Flax is <a target=_blank href="http://en.wikipedia.org/wiki/Open_source">open source</a> software, with no license fees, meaning that its source code is <a target=_blank href="http://code.google.com/p/flaxcode/">freely available</a>. Flax is based on <a target=_blank href="http://www.xapian.org">Xapian</a>, a high-performance, cross-platform and extremely accurate technology used across the world.</p>
  
  <p>The Flax search solution platform allows for the development of advanced search systems with features that include:<ul>
  <li>Boolean search operators (AND, OR, NOT), probabilistic <a target=_blank href="http://en.wikipedia.org/wiki/Bayesian">Bayesian</a>, wildcard, phrase and proximity search</li>
  <li>Allow users to refine their search by auto-suggesting extra search terms & related documents</li>
  <li>Social network and 'Web 2.0' features including <a target=_blank href="http://en.wikipedia.org/wiki/Faceted_classification">faceted search</a> and <a target=_blank href="http://en.wikipedia.org/wiki/Tag_%28metadata%29">tags</a></li>
  <li>Weighting adjustment for terms or documents to make important results appear first</li>
  <li>Spelling correction (automatic or dictionary-driven) and thesaurus</li>
  <li>Indexes of hundreds of millions of documents</li>
  <li>Customisable output formats using HTML templates and/or XML</li>
  <li>Custom metadata and fields to aid searching</li>
  <li>Rank results by relevance, date or by field</li>
  <li>Intelligent, adaptive crawling of websites</li>
  <li>Integration with third-party databases, email systems and file repositories</li>
  <li>Integration with security architectures</li>
  <li>Automatic backup, index validation and monitoring</li>
  </ul></p>

  <p>To see more examples of Flax in action click <a target=_blank href=http://www.flax.co.uk/customers.shtml>here</a>.</p>

  <p><b><u><a href=http://www.flax.co.uk/contact.shtml target=_blank >Contact us</a></u> to discuss how Flax can work for you</b>.</p>
  
</div>
