<!-- "About" page to describe Flax -->

<title node="con:title">About Flax</title>

<div node="con:body" id="about">
  <h1>Flax Basic</h1>
  Version <span node="-con:version"></span>.
  <p><img src="/static/img/xapian-powered.png" alt="Powered by Xapian"></p>
    
  <p>Flax Basic is a simple enterprise search system, designed to allow you to build searchable indexes of files on your PC, intranet or website. Flax Basic is based on <a target=_blank href=http://www.lemurconsulting.com>Lemur Consulting's</a> search solution platform, <a target=_blank href=http://www.flax.co.uk>Flax</a>. Further support is available at the <a target=_blank href=http://www.flax.co.uk>Flax website</a>.</p>
    
  <p>Flax is <a target=_blank href="http://en.wikipedia.org/wiki/Open_source">open source</a> software, with no license fees, meaning that its source code is <a target=_blank href="http://code.google.com/p/flaxcode/">freely available</a>. Flax is based on <a target=_blank href="http://www.xapian.org">Xapian</a>, a high-performance, cross-platform and extremely accurate technology used across the world.</p>
  
  <p>The Flax search solution platform allows for the development of advanced search systems with features that include:<ul>
<li>Windows, Mac and Linux platforms</li>
<li>Build searchable indexes of:</li>
  <ul>
  <li>Microsoft Office (Word, Excel, Powerpoint), Adobe Acrobat, HTML, RTF and plain text documents, and many other common formats</li>
  <li>Emails and content stored in Microsoft Exchange and other email systems</li>
  <li>Webpages from your own or external websites via controllable spiders</li>
  <li>Records extracted from existing databases (Microsoft Access, SQL, Oracle etc.)</li>
  </ul>
<li>Give your users powerful search facilities including:</li>
  <ul>
  <li>Boolean search operators (AND, OR, NOT)</li>
  <li>Probabilistic Bayesian, wildcard, phrase and proximity search</li>
  <li>Faceted search and support for user tags</li>
  <li>Automatic spelling correction of user queries</li>
  <li>Thesaurus and synonym support</li>
  <li>Search while an index is being updated - new documents are instantly searchable</li>
  <li>Auto-suggest extra search terms & related documents</li>
  <li>Restrict search results by custom field, date or numeric range</li>
  <li>Sort search results by relevance, date or custom fields</li>
  <li>Simple or Advanced search pages using a fully customisable interface</li>
  <li>Stemming for 14 different European different languages</li>
  </ul>
<li>Administrators have full control of the system using</li>
  <ul>
  <li>Web-based administration system with secure logon</li>
  <li>View statistics and logs</li>
  <li>Create multiple collections of indexed data</li>
  <li>Scheduled or manually controlled indexing</li>
  <li>Map source files to URLs</li>
  <li>Create custom metadata fields</li>
  <li>Fully customisable templates to for search pages and results</li>
  <li>Export results as XML</li>
  <li>Simple integration into existing architectures</li>

</ul>

  <p>To see more examples of Flax in action click <a target=_blank href=http://www.flax.co.uk/customers.shtml>here</a>.</p>

  <p><b><u><a href=http://www.flax.co.uk/contact.shtml target=_blank >Contact us</a></u> to discuss how Flax can work for you</b>.</p>
  
</div>
