<!-- $Id$ -->

<!-- This file provides the top section for administrator pages. -->

<div class="banner">
  <img src="/static/img/flax.125trans.png" alt="Flax Logo" 
   style="margin-right:15px;float:left;"/>

  <div class="navlist">
    <!-- should get away from hardwiring these -->
        
    <span><a href="/admin/collections">Collections</a></span>
    <span><a href="/admin/search">Search</a></span>
    <span><a href="/admin/advanced_search">Advanced Search</a></span>
    <span><a href="/admin/options">Options</a></span>
  </div>
</div>

