
<!-- the contents of this div will replace the contents of the div -->
<!-- advanced_holder in search html, for the "advanced" search form -->

<div node="-con:body">
  <div>
    <label class="main_label" for="exact">Exact Phrase:</label>
    <input name="exact" />
  </div>
  <div>
    <label class="main_label" for="exclusions">Without the words:</label>
    <input name="exclusions" />
  </div>
  <div>
    <label class="main_label" for="formats">Formats:</label>
    <div node="-rep:formats">
      <label node="con:format_label">Fmt</label>
      <input node="con:format_checkbox" type="checkbox"
             name="format" value="format_name"> </input>
    </div>
  </div>
</div>
