<!-- $Id$ -->
<!-- Administrator page listing current document collections
     Collections may be deleted. 
     A new collection may be added.
-->

<title node="con:title">Collections</title>

<div node="con:body">

  <table class="collection_list_table" summary="This table lists current document collections." 
   width="100%">
    <thead>
      <tr>
        <th class="col_del"></th>
        <th class="col_name">Name</th>
        <th class="col_desc">Description</th>
        <th class="col_status">Indexing?</th>
        <th class="col_due">Indexing Due</th>
        <th class="col_held">Indexing Held</th>
        <th class="col_docs">Docs</th>
        <th class="col_files">Files</th>
        <th class="col_errors">Errors</th>
      </tr>
    </thead>
    <tbody>
      <tr node="rep:collection">
        <td class="col_del">
          <a class="delete_button" node="con:delete">
            <img src="/static/img/del.png" alt="Delete" width="20" height="20" />
          </a>
        </td>
        <td class="col_name">
          <a node="con:name" href=""></a>
        </td>
        <td class="col_desc" node="con:description"></td>
        <td class="col_status" node="con:status"></td>
        <td class="col_due"><form node="con:due_form" method="POST" action="toggle_due"><button node="con:due_button">Due</button></form></td>
        <td class="col_held"><form node="con:held_form" method="POST" action="toggle_hold"><button node="con:held_button">Held</button></form></td>
        <td class="col_docs" node="con:doc_count"></td>
        <td class="col_docs" node="con:file_count"></td>
        <td class="col_errors" node="con:error_count"></td>
      </tr>
    </tbody>
  </table>

  <p>
    <a href="/admin/collections/new">Create a new collection </a>
  </p>

  <!-- move this to a separate help document - it's a bit intrusive here -->
  <p class="help_notes"> 
  Current document collections are listed above. The columns are as follows:
    <ol>
      <li>A link to delete the collection in that row. This link takes
      you to a page confirming that you wish to actually delete the
      collection.</li>
      <li>The name of the collection and a link to the detail page for that collection.</li>
      <li>The description of the collection.</li>
    </ol>
  </p>


</div>
