<!-- $Id$ -->
<!-- Administrator page for viewing and modifying all aspects of a document collection -->

<title node="con:title">Document Collection: <span node="-con:col_name">Name</span></title>

<div node = "-con:heads">
  <script type="text/javascript" src="/static/js/yui/build/yahoo/yahoo.js"></script>
  <script type="text/javascript" src="/static/js/yui/build/dom/dom.js"></script>
  <script type="text/javascript" src="/static/js/yui/build/event/event.js"></script>
  <script type="text/javascript" src="/static/js/yui/build/connection/connection.js"></script>
  <script type="text/javascript" src="/static/js/yui/build/animation/animation.js"></script>
  <script type="text/javascript" src="/static/js/yui/build/calendar/calendar.js"></script>
 </div>


<div node="-con:body">
  <form action='./do_indexing' method="POST">
    <input type="submit" value="Index Now" />
  </form>
  <!-- the form is for updating the collections -->
  <form action="update" method="POST">
    <fieldset>
      <legend>Document Collection: <span node="con:name"> </span></legend>
      <div class="info">
	<dl>
	<dt>Description</dt>
	<dd>The description will be visible to end users.</dd>
	</dl>
      </div>
      <div>
	<label class="main_label" for="description">
	  Description:
	</label>
	<input type="text" node="con:description" name="description"></input>
      </div>
    </fieldset>

    <fieldset>
      <legend>Files Specification</legend>
      <div class="info">
	<p>The options in this section determine which files will be
	included in this document collection.</p>
	<dl>
	  <dt>Paths</dt>
	  <dd>The directories specified here will be (recursively) searched
	  for files. Individual files may also be specified here.</dd>
	  <dt>Formats</dt>
	  <dd>Files of the selected formats will be included.</dd>
	  <dt>Exclusions</dt>
	  <dd>Patterns matching exclusions will be ommitted from the
	  files specified in paths.</dd>
	  <dt>Earliest</dt>
	  <dd>Files modified before this date will be excluded.</dd>
	  <dt>Latest</dt>
	  <dd>Files modified after this date will be excluded.</dd>
	  <dt>Oldest</dt>
	  <dd>Files older than this duration at the time of indexing will be excluded</dd>
	  <dt>Youngest</dt>
	  <dd>Files newer than this duration at the time of indexing will be excluded.</dd>
	</dl>
      </div>
      <div>
	<label class="main_label" for="paths">Paths:</label>
	<textarea node="con:paths" name = "paths" rows="5"></textarea>
      </div>
      <div>
	<label class="main_label">Formats:</label>
	<div node="-rep:formats">
	  <label node="con:format_label">Fmt</label>
	  <input node="con:format_checkbox" type="checkbox" name="format" value="format_name"></input>
	</div>
      </div>
      <div>
	<label class="main_label">Earliest:</label>
        <input node="con:earliest"></input>
<!-- 	<div id="calEarliestContainer"></div> -->
<!-- 	<script type="text/javascript"> -->
<!-- 	  /* This needs yui. */ -->
	  
<!-- 	  var initialise = function () { -->
<!-- 	     cal = new YAHOO.widget.Calendar ('calEarliestContainer'  , 'calEarliestContainer' ); -->
<!-- 	     cal.render() -->
<!-- 	  }; -->
<!-- 	  YAHOO.util.Event.onDOMReady(initialise); -->
<!-- 	</script> -->
      </div>
      <div>
	<label class="main_label">Latest:</label>
        <input node="con:latest"></input>
      </div>
      <div>
	<label class="main_label">Oldest:</label>
        <input node="con:oldest"></input>
      </div>

      <div>
	<label class="main_label">Youngest:</label>
        <input node="con:youngest"></input>
      </div>
    </fieldset>

    <fieldset>
      <legend>Indexing Options</legend>
      <div class="info">
	These options control the way this document collection is indexed.
      </div>
    </fieldset>

    <fieldset>
      <legend>Scheduling</legend>
      <div class="info">
	These options determine when indexing of this collection takes place.
      </div>

    </fieldset>
    <input type="submit" />
  </form>
</div>
