<!-- Administrator page for viewing and modifying all aspects of a document collection -->

<title node="con:title">Document Collection: <span node="-con:col_name">Name</span></title>

<div node="-con:heads">
  <script type="text/javascript" src="/static/js/mapping.js"></script>

  <script type="text/javascript">
  function on_load()
  {
    make_mappings();  // written below by the server
    document.forms[0].col.focus();
  }
  </script>
</div>


<div node="-con:body">
  <script node="con:script" language='javascript'></script>
  <!-- the form is for updating the collections -->
  <form node="con:main_form" action="update" method="POST">
    <fieldset>
      <legend>Document Collection: <span node="con:name"></span></legend>
      <div class="info">
    <dl>
      <dt>Name</dt>
      <dd>A short name for you collection. This will be visible to end
        users, be used to form urls for manipulating this collection.
      </dd>
      <dt>Description</dt>
      <dd>The description will be visible to end users.</dd>
    </dl>
      </div>
      <div node="-con:col">
        <label class="main_label" for ="col">Name:</label>
        <input type="text" name="col"></input>
       </div>
      <div>
    <label class="main_label" for="description">
      Description:
    </label>
    <input type="text" node="con:description" name="description"></input>
      </div>
    </fieldset>

    <fieldset>
      <legend>Files Specification</legend>
      <div class="info">
    <p>The options in this section determine which files will be
    included in this document collection.</p>
    <dl>
      <dt>Paths</dt>
      <dd>Each directory specified here will be (recursively) searched
      for files. Individual files may also be specified here.</dd>
          <dt>Mappings</dt>
          <dd>This is used to generate a url for documents found below
          the corresponding path in the search results pages. The
          generated url replaces the path prefix of a filename with
          the corresponding mapping.
      <dt>Formats</dt>
      <dd>Files of the selected formats will be included.</dd>
      <dt>Age</dt>
      <dd>Files older than this at the time of indexing will be
      excluded.</dd>
    </dl>
      </div>
      <!-- mappings div is used by the javacript - it should remain here.-->
      <div id="mappings">
      </div>
      <label class="main_label">&nbsp;</label>
      <button onClick="add_blank_mapping()" type="button">Add another path</button>
      <div style="margin-top:10px">
        <label class="main_label">Formats:</label>
        <div class="form_content">
          <input node="con:xls" type="checkbox" 
           name="formats" value="xls" id="format_xls"></input>
          <label for="format_xls" class="inline_label">Excel</label>
          <br/>

          <input node="con:html" type="checkbox"
           name="formats" value="html" id="format_html"></input>
          <label for="format_html" class="inline_label">HTML</label>
          <br/>

          <input node="con:pdf" type="checkbox" 
           name="formats" value="pdf" id="format_pdf"></input>
          <label for="format_pdf" class="inline_label">PDF</label>
          <br/>

          <input node="con:ppt" type="checkbox" 
           name="formats" value="ppt" id="format_ppt"></input>
          <label for="format_ppt" class="inline_label">Power Point</label>
          <br/>

          <input node="con:rtf" type="checkbox" 
           name="formats" value="rtf" id="format_rtf"></input>
          <label for="format_rtf" class="inline_label">RTF</label>
          <br/>

          <input node="con:txt" type="checkbox"
           name="formats" value="txt" id="format_txt"></input>
          <label for="format_txt" class="inline_label">Text</label>
          <br/>

          <input node="con:doc" type="checkbox" 
           name="formats" value="doc" id="format_doc"></input>
          <label for="format_doc" class="inline_label">Word</label>
        </div>
      </div>

      <div style="margin-top:10px">
        <label class="main_label">Age:</label>
        <select name="oldest">
          <option node="con:none" value="">Any age</option>
          <option node="con:one_day" value="1 0 0">One Day</option>
          <option node="con:one_week" value="7 0 0">One Week</option>
          <option node="con:one_month" value="30 0 0">One Month</option>
          <option node="con:six_months" value="182 0 0">Six Months</option>
          <option node="con:one_year" value="365 0 0">One Year</option>
        </select>
      </div>
    </fieldset>

    <fieldset>
      <legend>Indexing Options</legend>
      <div class="info">
    These options control the way this document collection is
    indexed. 
      </div>
      <div>
        <label class="main_label" for="language">Language:</label>
        <select name="language">
          <option node="rep:language_option"></option>
        </select>
      </div>
      <div>
        <label class="main_label" for="stopwords">Stop Words</label>
        <input name="stopwords" node="con:stopwords"></input>
      </div>
    </fieldset>

    <fieldset>
      <legend>Scheduling</legend>
      <div class="info">
    These options determine when indexing of this collection takes
    place. The collection will be scheduled every minute that
    matches the specification (in practice it would probably be a
    bad idea to allow such, but the specification allows it). In
    order for a specification to match each part of it must
    match. The wildcard "*" matches everything. The empty string
    matches nothing. (Therefore an empty string anywhere ensures no
    automatic indexing.) Otherwise a comma delimited list of
    integers is expected. The sensible ranges for each field are
    as follows:
        <table>
          <tr><td>Minutes</td><td>0-59</td></tr>
          <tr><td>Hours</td><td>0-23</td></tr>
          <tr><td>Weekdays</td><td>0-6</td></tr>
          <tr><td>Monthdays</td><td>1-31</td></tr>
          <tr><td>Months</td><td>1-12</td></tr>
        </table>
      </div>
      
      <div>
        <label class="main_label" for="mins">Minutes</label>
        <input node="con:mins" name="mins"></input>
      </div>
      <div>
        <label class="main_label" for="hours">Hours</label>
        <input node="con:hours" name="hours"></input>
      </div>
      <div>
        <label class="main_label" for="weekdays">Weekdays</label>
        <input node="con:weekdays" name="weekdays"></input>
      </div>
      <div>
        <label class="main_label" for="monthdays">Monthdays</label>
        <input node="con:monthdays" name="monthdays"></input>
      </div>
      <div>
        <label class="main_label" for="months">Months</label>
        <input node="con:months" name="months"></input>
      </div>
    </fieldset>
    <input type="submit" value="Apply"/>
  </form>
<p>&nbsp;</p
>
</div>
