<!-- Administrator page listing current document collections
     Collections may be deleted. 
     A new collection may be added.
-->

<title node="con:title">Collections</title>

<div node="-con:heads">
  <script type="text/javascript">  
  function on_load() 
  {
    callLater (2, update_info);
  }

  function update_info()
  {
    try {
      var onsuccess = function (json) {
        for (var i = 0; i < json.length; i++)
        {        
          try {
            if ($('_doc_count_' + json[i].name))
            {
              replaceChildNodes ($('_doc_count_' + json[i].name), 
                                 json[i].doc_count);
              replaceChildNodes ($('_file_count_' + json[i].name), 
                                 json[i].file_count);
              replaceChildNodes ($('_error_count_' + json[i].name), 
                                 json[i].error_count);
        
              var due = $('_due_button_' + json[i].name);
              if (json[i].status)
              {
                replaceChildNodes (due, 'In progress');
                due.disabled = true;
              }
              else if (json[i].index_due)
              {
                replaceChildNodes (due, 'Due');
                due.disabled = true;
              }
              else
              {
                replaceChildNodes (due, 'Start');
                due.disabled = false;
              }
            }
          }
          catch (err)
          {
            alert ('ERROR: ' + err);
          }
        }
        
        callLater (2, update_info);
      };

      var onfailure = function (err) {
        if (err instanceof MochiKit.Async.XMLHttpRequestError)
        { // quietly re-try
          callLater (2, update_info);
        }
      };

      var req = loadJSONDoc ('/admin/collections/json');
      req.addCallbacks (onsuccess, onfailure);
    }
    catch (err)
    { /* ignore errors caused by older browsers */ }
  }

  </script>
</div>

<div node="con:body" id="collections">

  <div class="border_div">
  <table class="collection_list_table" 
   summary="This table lists current document collections." 
   width="100%" border="0" cellpadding="1">
    <thead>
      <tr>
        <th colspan="2" class="col_nameh">Collection</th>
        <th class="col_desc">Description</th>
        <th class="col_due">Indexing</th>
        <th class="col_held">Hold</th>
        <th class="col_docs">Docs</th>
        <th class="col_files">Files</th>
        <th class="col_errors">Errors</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="8" height="3"></td></th>
      <tr node="rep:collection">
        <td class="col_del">
          <form node="con:delete_form" method="POST" action="delete">
            <button node="con:delete_button" class="del_button">
              <img src="/static/img/del.png" alt="Delete" width="20" height="20" />
            </button>
          </form>
        </td>
        <td class="col_name">
          <a node="con:name" href=""></a>
        </td>
        <td class="col_desc">
            <span node="-con:description"></span>
            <a node="con:description_more">...</a>
        </td>
        <td class="col_due"><form node="con:due_form" method="POST" action="toggle_due"><button node="con:due_button">Due</button></form></td>
        <td class="col_held"><form node="con:held_form" method="POST" action="toggle_hold"><button node="con:held_button">Held</button></form></td>
        <td class="col_docs" node="con:doc_count"></td>
        <td class="col_files" node="con:file_count"></td>
        <td class="col_errors" node="con:error_count"></td>
      </tr>
    </tbody>
  </table>
  </div>

  <p>
    <a href="/admin/collections/new">Create a new collection </a>
  </p>

  <!-- move this to a separate help document - it's a bit intrusive here -->
  <div class="info_wide"> 
  Current document collections are listed above. The columns are as follows:
    <dl>
      <dt><img src="/static/img/del.png" border="0" height="15" width="15"/></dt>
      <dd>Click this icon to delete the corresponding collection.</dd>

      <dt>Collection</dt>
      <dd>The name of the collection, linked to a page for viewing or
      editing the details of the collection.</dd>

      <dt>Description</dt>
      <dd>The collection's description, truncated if too long to fit in the column
      (in which case, click the ... for the whole description.)</dd>

      <dt>Indexing</dt>
      <dd>Shows whether the collection is currently being indexed ("In progress"), or will
      be indexed as soon as possible ("Due"). If neither, you can click "Start" to schedule
      indexing. This is independent from the time-based scheduling specified in the 
      collection details.</dd>
      
      <dt>Hold</dt>
      <dd>To temporarily prevent indexing of a collection, click the "Hold" button. 
      Held collections will not be indexed even if they are due. If a collection 
      becomes held whilst it is being indexed the indexer will stop indexing
      the collection even if there is still outstanding work to be done. Click "Unhold"
      to allow indexing again.
      </dd>

      <dt>Docs</dt>
      <dd>The number of documents currently in the xapian database for 
      the collection.</dd>

      <dt>Files</dt> 
      <dd>The number of files found in the collection on the last
      indexing run, or during the current run if indexing is in progress.</dd>

      <dt>Errors</dt>
      <dd>The number of files that generated errors during the last
      indexing run, or the current run if indexing is in progress.</dd>
    </dl>
  </div>
</div>
