<!-- $Id$ -->
<!-- Administrator page listing current document collections
     Collections may be deleted. 
     A new collection may be added.
-->

<title node="con:title">Collections</title>

<div node="con:body">

  <table class="collection_list_table" summary="This table lists current document collections." 
   width="100%">
    <thead>
      <tr>
        <th class="col_del"></th>
        <th class="col_name">Name</th>
        <th class="col_desc">Description</th>
        <th class="col_status">Indexing?</th>
        <th class="col_due">Indexing Due</th>
        <th class="col_held">Indexing Held</th>
        <th class="col_docs">Docs</th>
        <th class="col_files">Files</th>
        <th class="col_errors">Errors</th>
      </tr>
    </thead>
    <tbody>
      <tr node="rep:collection">
        <td class="col_del">
          <form node="con:delete_form" method="POST" action="delete">
            <button node="con:delete_button">
              <img src="/static/img/del.png" alt="Delete" width="20" height="20" />
            </button>
          </form>
        </td>
        <td class="col_name">
          <a node="con:name" href=""></a>
        </td>
        <td class="col_desc" node="con:description"></td>
        <td class="col_status" node="con:status"></td>
        <td class="col_due"><form node="con:due_form" method="POST" action="toggle_due"><button node="con:due_button">Due</button></form></td>
        <td class="col_held"><form node="con:held_form" method="POST" action="toggle_hold"><button node="con:held_button">Held</button></form></td>
        <td class="col_docs" node="con:doc_count"></td>
        <td class="col_docs" node="con:file_count"></td>
        <td class="col_errors" node="con:error_count"></td>
      </tr>
    </tbody>
  </table>

  <p>
    <a href="/admin/collections/new">Create a new collection </a>
  </p>

  <!-- move this to a separate help document - it's a bit intrusive here -->
  <p class="help_notes"> 
  Current document collections are listed above. The columns are as follows:
    <dl>
      <dt>Delete (no heading)</dt>
      <dd>A link to delete the collection in that row.</dd>

      <dt>Name</dt>
      <dd>The name of the collection, linked to a page for viewing or
      editing the details of the collection.</dd>

      <dt>Description</dt>
      <dd>The collection's description, or the initial part thereof if
      it's too long to fit in the column.</dd>

      <dt>Indexing?</dt>
      <dd>Whether the collection is currently being indexed.</dd>

      <dt>Indexing Due</dt>    
      <dd>Whether indexing of this collection is due. Collections that
      are due will be considered for indexing when the indexer has
      finished working. After indexing this is automatically set to
      false. The scheduling system automatically sets collections as
      due according to the collection's scheduling specification.</dd>
      
      <dt>Indexing held</dt>
      <dd>Whether indexing of this collection is held. Held
      collections will not be indexed even if they are due. If a
      collection becomes held whilst it is being indexed the indexer
      will stop indexing the collection even if there is still
      outstanding work to be done.</dd>

      <dt>Docs</dt>
      <dd>The number of documents currently in the xapian database for
      the collection.</dd>

      <dt>Files</dt> 
      <dd>The number of files found in the collection on the last
      indexing run, or during the current run if indexing is in
      progress.</dd>

      <dt>Errors</dt>
      <dd>The number of files that generated errors during the last
      indexing run, or the current run if indexing is in
      progress.</dd>
    </dl>
  </p>
</div>
