<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- $Id$ -->

<!-- This boilderplate is used for all the web pages.  The "banner" node
     will be replaced with a banner (by default admin_banner.html for
     adminstrator pages and user_banner.html for end user pages.
     The body of specific pages replaces the
     "main" node.
  -->

<html  xmlns="http://www.w3.org/1999/xhtml" >
  <head profile="http://www.w3.org/2005/11/profile">
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
    <title node="con:title" ></title>
    <div node="-con:heads">
      <!-- Place holder for extra stuff, templates should define a heads
           div at the top level and the contents will end up here.-->
      <!-- I know perfectly well that you can't put a div here, but
           it'll be removed before any pages are rendered.-->
    </div>
  </head>
  <body onload="on_load()">
    <div node="-con:banner">...</div>
    <div>
      <!-- main content for pages -->
      <!-- don't do <div /> here, HTMLTemplate seems to ignore it (bug?) -->
      <div node="-con:main"> ... </div>
    </div>
  </body>
</html>
