<!-- Global options for Flax -->

<title node="con:title">Global Options</title>

<div node="con:body">
  <form>
    <fieldset>
      <legend>File handling options</legend>
      <div class="info">
	These options control the files Flax uses for its data.
	<dl>
	  <dt>Database Directory</dt>
	  <dd>The directory for the Xapian databases for each document collection</dd>
	  <dt>Flax Directory</dt>
	  <dd>The directory for persistent Flax data.</dd>
	</dl>
      </div>      
      <div>
	<label class="main_label" for="db_dir">Database directory:</label>
	<input name="db_dir"></input>
      </div>
      <div>
	<label class="main_label" for="persist_dir">Flax directory:</label>
	<input name="persist_dir"></input>
      </div>
      </fieldset>
      <fieldset>
        <legend>Logging</legend>
        <div class="info">
          <p>These options controls which event are logged.</p>
          <p>Events have both a category and a severity. For each
          category you can specify the level at which events are
          logged. The extremes are for no logging, or everything
          logged (within that category).</p>
          
          <p>The letters stand for the following words:
          <span node="rep:level_meaning"></span>
          </p>
        </div>
        <div node="rep:collection_events">
          <label node="con:event_label" class="main_label">Event</label>
          <input node="rep:event_radio" type="radio" value="level">Level</input>
        </div> 
      </fieldset>
    <input type="submit"></input>
  </form>
</div>