<!-- Search form used for administrators and users search -->
<!-- for basic search the "advanced_holder" container will be removed -->

<title node="con:title">Search</title>

<div node="-con:heads">

  <script type="text/javascript">
  function on_load() {
      document.forms[0].query.focus();
  }
  </script>
</div>

<div node="con:body" id="search">
  
  <form method="GET">
    <div style="text-align:center">
      <input name="query" class="search_query" node="con:query" />
      <input type="submit" value="search"/>
    </div>
    <div class="search_cols">
      Search collections:&nbsp;&nbsp;
      <span node="-rep:collections">
        <input node="con:col_select" type="checkbox" name="col" value="col name"></input>
        <label node="con:col_name">Collection name</label>
      </span>
    </div>

    <div node="con:advanced_holder">
      <div class="search_adv" style="margin-top:5px">
        <label class="main_label" for="exact">Exact Phrase:</label>
        <input node="con:exact" name="exact" size="50"> </input>
      </div>
      <div class="search_adv">
        <label class="main_label" for="exclusions">Without the words:</label>
        <input node="con:exclusions" name="exclusions" size="50"> </input>
      </div>
      <div class="search_adv">
	<label class="main_label" for="formats">Formats:</label>
	<input node="con:xls" type="checkbox" id="format_xls"
	       name="format" value="xls"></input>
	<label for="format_xls">Excel</label>
	<input node="con:html" type="checkbox" id="format_html"
	       name="format" value="html"></input>
	<label for="format_html">HTML</label>
	<input node="con:pdf" type="checkbox" id="format_pdf"
	       name="format" value="pdf"></input>
	<label for="format_pdf">PDF</label>
	<input node="con:ppt" type="checkbox" id="format_ppt"
	       name="format" value="ppt"></input>
	<label for="format_ppt">Power Point</label>
	<input node="con:rtf" type="checkbox" id="format_rtf"
	       name="format" value="rtf"></input>
	<label for="format_rtf">RTF</label>
	<input node="con:txt" type="checkbox" id="format_txt"
	       name="format" value="txt"></input>
	<label for="format_txt">Text</label>
	<input node="con:doc" type="checkbox" id="format_doc"
	       name="format" value="doc"></input>
	<label for="format_doc">Word</label>
      </div>
    </div>
  </form>
  
  <div style="margin-top:30px" node="con:descriptions">
    <h3>Collection Descriptions</h3>
    <dl node="con:col_descriptions" class="col_descriptions">
      <div node="-rep:name_and_desc">
	<dt node="con:name"></dt>
	<dd node="con:description"></dd>
      </div>
    </dl>
  </div>
  
  <div node="con:results">
    <div node="con:corrected"> </div>

    <div class="search_info" node="con:info">1 - 10 of foo bar wombat</div>

    <!-- the contents of this div will be replaced by the results of
         the search -->
    <div node="rep:results" class="search_hit">
      <a node="con:res_link" class="search_hit_link"></a>
      <div node="con:res_content" class="search_hit_content"></div>
      <div class="search_hit_meta">
	Size: <span node="con:res_size" class="search_hit_meta_item"></span>
	Last modified: <span node="con:res_mtime" class="search_hit_meta_item"></span>
	<a node="con:sim_link" class="search_sim_link">Find similar documents</a>
      </div>
    </div>
  
    <div node="con:nav" class="search_nav">
      <a node="con:first_page" class="search_nav_link">&lt;&lt; First</a>&nbsp;&nbsp;
      <a node="con:prev_page"  class="search_nav_link">&lt; Prev</a>&nbsp;&nbsp;
      <a node="con:next_page"  class="search_nav_link">Next &gt;</a>
    </div>
  </div>

</div>

