<!-- $Id$ -->
<!-- Search form used for administrators and users search -->
<!-- for basic search the "advanced" container will be removed -->

<title node="con:title">Search</title>

<div node="con:body">

  <div class="banner_search">
    <img src="/static/img/flax.250trans.png" alt="Flax Logo" />
  </div>
  
  <form method="GET" action="./search" >
    <fieldset class="search_fields">
      <div style="text-align:center">
        <!--label class="main_label" for="query">Search String: </label-->
        <input name="query" class="search_query"/>
        <input type="submit" value="search"/>
      </div>
      <div class="search_cols">
        Search collections:&nbsp;&nbsp;
        <span node="-rep:collections">
          <input node="con:col_select" type="checkbox" name="col" value="col name"></input>
          <label node="con:col_name">Collection name</label>
        </span>
      </div>
      <div node="-con:advanced_holder">
      </div>
    </fieldset>
  </form>

  <script type="text/javascript">
  function on_load() {
      document.forms[0].query.focus();
  }
  </script>

</div>

