<!-- $Id$ -->
<!-- Search form for administrators -->

<title node="con:title">Search</title>

<div node="con:body">
  <form method="GET"  action="./search" >
    <fieldset>
      <div>
	<label class="main_label" for="query">Search String: </label>
	<input name="query" />
      </div>
      <div>
	<label class="main_label">Collections:</label>
	<div node="-rep:collections">
	  <label node="con:col_name">Collection name</label>
	  <input node="con:col_select" type="checkbox" name="col" value="col name"></input>
	</div>
      </div>
    </fieldset>
    <input type="submit" />
  </form>
</div>
