<!-- This file provides the top section for user pages. -->

<table width="100%" node="con:banner" 
 border="0" cellpadding="0" cellspacing="0" class="user_banner">
  <tr>
    <td width="250"></td>
    
    <td>
      <img src="/static/img/flax.250trans.png" alt="Flax Logo" />
    </td>

    <td valign="top" width="250" align="right">
      <span class="user_navlist">
        <a href="./search" id="searchnav">
          <span class="navlabel">Search</span>
        </a>
        &nbsp;&nbsp;
        <a href="./advanced_search" id="advsearchnav">
          <span class="navlabel">Advanced Search</span>
        </a>
        &nbsp;&nbsp;
        <a href="./about" id="aboutnav">
          <span class="navlabel">About Flax</span>
        </a>
      </div>
    </td>
  </tr>
</table>
