<!-- Global options for Flax -->

<title node="con:title">Global Options</title>

<div node="con:body" id="options">
  <form method="POST">
    <fieldset>
      <legend>Logging</legend>
      <div class="info">
	<p>These options controls which events are logged.</p>
	<p>Events have both a category and a severity. For each
	  category you can specify the level at or above which events are
	  logged. For example, the "Critical" level will cause only critical
	  errors to be logged, whereas the "Debug" level will cause all
	  messages including debugging message to be logged (which may result
	  in very large number of log entries being generated).  The "Default"
	  level will cause the level for a particular category of log message
	  to follow the setting for the "default" category.</p>
	<p>The order of the levels is as follows:
	  <span node="rep:level_meaning"></span>
	</p>
      </div>
      <div node="rep:collection_events">
	<label node="con:event_label" class="main_label">Event</label>
	<select node="con:event_select">
	  <option node="rep:event_option">Level</option>
	</select>
      </div> 
    </fieldset>
    <fieldset>
      <legend>Interface</legend>
      <div class="info">
        <p>This option affects the web interface.</p>
        <p>The "Advanced as default" option will cause the advanced
          search page to be used as the default search page.
        </p>
      </div>
      <div>
        <label for="advanced_as_default">Advanced as default</label>
        <input type="checkbox" node="con:advanced_as_default" name="advanced_as_default"></input>
      </div>
    </fieldset>
    <input type="submit" value="Apply" />
  </form>
</div>
