/* Copyright Lemur Consulting 2009. All rights reserved. */

.bam_popup { 
    position: absolute; 
    left: 0px; top: 0px; 
    overflow: auto;
    height: 200px;
    width: 180px;
    padding: 0px;
    margin: 18px 0px 0px 0px;
    border: 1px solid darkgray;
}

.bam_popup ul { 
    margin: 0px;
    list-style-type: none;
    background-color: lightgray;
    padding: 3px;
    font-family: Helvetica, Arial, sans-serif;    
}

.bam_popup_item_selected {
    background-color: white;
}
