
body, div, td {
    font-family: helvetical, arial, sans-serif;
    font-size: 14px;
}

body {
    margin: 0px;
}

.bam_content {
    margin: 50px 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#bam_message {
    position: fixed;
    padding: 0px;
    padding-top: 65px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
    border: 1px solid darkgray;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
}

.bam_icon img {
    border: none;
    margin: 0px 1px 0px;
    padding: 0px;
}

table.bam_edit {
    width: 100%;
}

table {
    margin: 0px;
    padding: 0px;
}

tr {
    margin: 0px;
    padding: 0px;
}

td {
    margin: 0px;
    padding: 0px;
}

td.bam_label {
    width: 100px;
    vertical-align: top;
    padding-top: 6px;
}

td.bam_ctrl {
    width: 55px;
    text-align: right;
    vertical-align: top;
    padding-top: 8px;
}

td.bam_data {
    padding-top: 5px;
}

.bam_filter, .bam_date, .bam_short {
    width: 100%;
}

hr {
    border: 0;
    color: gray;
    background-color: gray;
    height: 1px;
    margin-top: 8px;
}

br {
    margin-bottom: 10px;
}

textarea {
    width: 97%;
    height: 66px;
}

textarea.bam_large {
    height: 300px;
}

div.bam_hit {
    margin-top: 10px;
}

.bam_field {
    margin-top: 5px;
}

.bam_rootmenu {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #F0F0FF;
    margin: 0px;
    padding: 5px;
    border-top: 1px solid #C0C0DD;
    border-bottom: 2px solid #C0C0DD;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 2px 0px;
}

h2 em {
    font-weight: bold;
    font-style: normal;
}
