/* $Id$ */

html {
    height: 100%;
    width: 100%
}

body {
    font-family:  Verdana, sans-serif;
    width: 800px;
    height: 100%;
}

.banner {
   height: 120px;
   text-align: center;
   line-height: 83px;
}

.banner img {
   float: left;   
}

.navlist {
  vertical-align: middle;
}

.navlist li {
  list-style-type: none;
  display: inline;
  float: left;
  width: 100px;
  margin:0;
  padding:0;
}

.navlist li span {
  display: block;
}

.navlist li a:hover {
  color: #aaa;
  background-color: #fff;
}

a.delete_button img {
    border: none;
    text-decoration: none;
}

/* styling of the collection list table */

table.collection_list_table {
    border-collapse: collapse;
}

table.collection_list_table thead  {
    border: 3px solid blue;
}

table.collection_list_table tbody  {
    border: 1px solid black;
}

label.main_label {
    float: left;
    width: 150px;

}

fieldset div {
    clear: left;
}

div.info {
  float: right;
  font-size: 75%;
  border: 1px solid;
  height: auto;
  width: 250px;
  padding: 3px;
}

