/* $Id$ */

html {
    height: 100%;
    width: 100%
}

body {
    font-family:  Verdana, sans-serif;
    font-size: 10.5pt;
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 0px solid pink;
}

.banner {
   height: 60px;
   text-align: left;
   border: 0px solid pink;
}

.banner img {
   float: left;   
}

.banner_search {
   height: 90px;
   text-align: center;
}

.navlist {
  height: 20px;
  border-bottom: 1px solid #D0D4F0;
  margin: 0;
}

.navlist span {
  margin: 0px 25px 0px 0px;
  padding:0;
}

.navlist a {
    text-decoration: none;
    color: darkblue;
}

.navlist a:hover {
  color: darkred;
}

a.delete_button img {
    border: none;
    text-decoration: none;
}

/* styling of the collection list table */

table.collection_list_table {
    border-collapse: collapse;
}

table.collection_list_table thead  {
    border: 3px solid blue;
}

table.collection_list_table tbody  {
    border: 1px solid black;
}

label.main_label {
    float: left;
    width: 150px;

}

form {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

div.info {
  float: right;
  font-size: 75%;
  border: 1px solid;
  height: auto;
  width: 250px;
  padding: 3px;
}

.search_query {
    width: 500px;
}

.search_cols {
    margin-top: 20px;
    background-color: #F4F8FF;
    border-top: 1px solid #D0D4F0;
    padding: 2px;
    font-size: 10pt;
}

.search_info {
    font-size: 10pt;
    margin-top: 6px;
    margin-bottom: 16px;
}

.search_hit {
    border-top: 1px solid #D0D4F0;
    padding-top: 2px;
    margin-bottom: 10px;
}

.search_hit_link { 
    text-decoration: none; color: darkblue; 
}

.search_hit_link:hover {
    color: darkred; 
}

.search_hit_content {
    margin-top: 3px;
}

.search_nav {
    width: 100%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 30px;
    background-color: #F4F8FF;
    border-bottom: 1px solid #D0D4F0;
    padding: 2px;
    font-size: 10pt;
}

.search_nav_link { 
    text-decoration: none; color: darkblue; 
}

.search_nav_link:hover {
    color: darkred; 
}

.search_hit_meta {
    font-size: 9pt;
    font-style: italic;
    margin-top: 4px;
    color: gray;
}

.search_hit_meta_item {
    color: black;
    margin-right: 5px;
}

.link_disabled {
    color: gray;
}