/* $Id$ */

html {
    height: 100%;
    width: 100%
}

body {
    font-family:  Verdana, sans-serif;
    font-size: 11pt;
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: none /*1px solid pink;*/
}

.banner {
   height: 110px;
   text-align: center;
}

.banner img {
   float: left;   
}

.banner_search {
   height: 90px;
   text-align: center;
}

.navlist {
  vertical-align: middle;
}

.navlist li {
  list-style-type: none;
  display: inline;
  float: left;
  width: 100px;
  margin:0;
  padding:0;
}

.navlist li span {
  display: block;
}

.navlist li a:hover {
  color: #aaa;
  background-color: #fff;
}

a.delete_button img {
    border: none;
    text-decoration: none;
}

/* styling of the collection list table */

table.collection_list_table {
    border-collapse: collapse;
}

table.collection_list_table thead  {
    border: 3px solid blue;
}

table.collection_list_table tbody  {
    border: 1px solid black;
}

label.main_label {
    float: left;
    width: 150px;

}

fieldset div {
    clear: left;
}

.search_fields {
    border: none;
}

.search_query {
    width: 500px;
}

.search_cols {
    margin-top: 20px;
    background-color: #F4F8FF;
    border-top: 1px solid #D0D4F0;
    padding: 2px;
    font-size: 10pt;
}

div.info {
  float: right;
  font-size: 75%;
  border: 1px solid;
  height: auto;
  width: 250px;
  padding: 3px;
}

