<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
<xi:include href="header_common.html" />
<xi:include href="fields.html" />

<script>
    function edit() {
        window.location += '/edit';
    }

    function similar() {
        window.location += '/similar';
    }
</script>
</head>

<body>
${root_menu()}

<div class="bam_content">
    <p>
        <a href="javascript:edit()">edit</a> |
        <a href="javascript:similar()">similar</a>
    </p>

    <!--! Separate the document into top-level chunks, preserving field order within chunks. -->
    
    <!--! First the title(s) -->
    <py:for each="field in doc">
        <h1 py:if="field[0] in ('title')">${field[1]}</h1>
    </py:for>

    <!--! Sub-headings (FIXME: make filters clickable) -->
    <py:for each="field in doc">
        <h2 py:if="field[0] in ('caption', 'medium', 'person', 'date')">
        <em>${field[0]}:</em> ${field[1]}
        </h2>
    </py:for>

    <!--! the document ID -->
    <h2><em>id:</em> $doc_id</h2>

    <!--! spacer -->
    <div style="height:15px"></div>

    <!--! text fields -->
    <py:for each="field in doc">
        <div py:if="field[0] in ('text')">
            ${format_value(field[1])}
        </div>
    </py:for>

    <!--! spacer -->
    <div style="height:15px"></div>
    
    <!--! everything else -->
    <py:for each="field in doc">
        <py:if test="field[0] not in ('title', 'caption', 'medium', 'person', 'date', 'text')">
            ${view_field(field, 0)}
        </py:if>
    </py:for>
 
</div> 
</body>
</html>

