<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
<xi:include href="header_common.html" />
<xi:include href="fields.html" />

<script>
$(function() {
    bamboo_doc_edit_ready();
});
</script>
</head>

<body>
${root_menu()}

<div class="bam_content">
    <h1>$title</h1>
    <form method="POST">
        <table border="0" class="bam_edit">
            <py:choose test="">
                <!--! don't allow prexisting doc ID to be changed -->
                <tr py:when="doc_id" class="bam_field">
                    <td class="bam_label">id:</td>
                    <td class="bam_data">
                        $doc_id
                        <input name="id" type="hidden" value="$doc_id"/>
                    </td>
                </tr>
                <tr py:otherwise="" class="bam_field">
                    <td class="bam_label">id (optional):</td>
                    <td class="bam_data">
                        <input name="id" class="bam_short" value=""/>
                    </td>
                </tr>
            </py:choose>

            <py:for each="field in doc">
                ${edit_field(field)}
            </py:for>
        </table>
    
        <div style="margin:20px 0px 40px 105px">
            <input type="button" onclick="bamboo_doc_savecon()" value="Save &amp; Continue" />
            <input type="button" onclick="bamboo_doc_savenew()" value="Save &amp; Create New" />
            <input type="button" onclick="bamboo_doc_duplicate()" value="Duplicate" />
            <input type="button" onclick="bamboo_doc_cancel()" value="Cancel" />
        </div>
    </form>
</div>
           
<!-- FIXME - create (dynamically?) from schema -->
<div id="bam_field_choice" class="bam_popup">
<ul>
<li title="title">title</li>
<li title="caption">caption</li>
<li title="medium">medium</li>
<li title="location">location</li>
<li title="date">date</li>
<li title="person">person</li>
<li title="text">text</li>
<li title="note">note</li>
<li title="acquirer">acquirer (group)</li>
<li title="production">production (group)</li>
<li title="prevref">prev ref</li>
<li title="nextref">next ref</li>
</ul>
</div>

<div id="bam_message"></div>

</body>
</html>

