<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

<!--! field editor definition -->
<tr py:def="edit_field(field)" class="bam_field">
    <td class="bam_label">${field[0]}:</td>
    <td py:choose="schema.get(field[0])" class="bam_data">
        <py:when test="'group'">
            <hr/>
            <table width="100%" style="margin:0px; border:0px;">
                <input name="${field[0]}" type="hidden" value="__bam_open_group__"/>
                <py:for each="field2 in field[1]">       
                    ${edit_field(field2)}
                </py:for>
                <input name="${field[0]}" type="hidden" value="__bam_close_group__"/>
            </table>
        </py:when>

        <py:when test="'text'">
            <textarea name="${field[0]}"
             class="bam_textarea">${field[1]}</textarea><img
             src="/static/images/toggle_size.png"
             title="Toggle text box size" 
             style="vertical-align:top; margin-top:3px;"
             class="bam_resize_toggle"/>
        </py:when>
        
        <py:when test="'note'">
            <textarea name="${field[0]}"
             class="bam_textarea">${field[1]}</textarea><img
             src="/static/images/toggle_size.png" 
             title="Toggle text box size" 
             style="vertical-align:top; margin-top:3px;"
             class="bam_resize_toggle"/>
        </py:when>

        <input py:when="'shorttext'" name="${field[0]}"
         class="bam_short" value="${field[1]}"/>
         
        <input py:when="'filter'" name="${field[0]}"
         class="bam_filter" value="${field[1]}"/>
         
        <input py:when="'date'" name="${field[0]}"
         class="bam_date" value="${field[1]}"/>

        <input py:when="'reference'" name="${field[0]}"
         class="bam_short" value="${field[1]}"/>

        <py:when test="None">
            [error: field ${field[0]} not in schema]
        </py:when>
        
        <py:otherwise>
            [error: field ${field[0]} has unknown type ${schema.get(field[0])}]
        </py:otherwise>
    </td>
    <td class="bam_ctrl"><a href="bam_field_dup"
     class="bam_icon"><img src="/static/images/dup_icon.png"
     title="Add another field of this type"/></a><a href="bam_field_choice"
     class="bam_icon"><img src="/static/images/add_icon.png"
     title="Add a field from a list"/></a><a href="bam_field_del" 
     class="bam_icon"><img src="/static/images/del_icon.png"
     title="Delete this field"/></a></td>
</tr>
<!--! end field editor definition -->

<!--! definition for general field view -->
<div py:def="view_field(field, level)" class="bam_field"
 style="margin-left:${40 * level}px">
    <span style="font-weight:bold">${field[0]}:</span>
    <py:choose test="">
        <py:when test="isinstance(field[1], list)">
            <py:for each="field2 in field[1]">
                ${view_field(field2, level + 1)}
            </py:for>
        </py:when>
        <span py:otherwise="">${format_value(field[1])}</span>
    </py:choose>
</div>
<!--! end definition -->

<!--! if we haven't defined a doc object, use this template for HTML fragments -->
<py:if test="not doc">
    ${edit_field(field)}
</py:if>
</html>

