/*
:Author: Tom Mortimer
:Contact: tom at lemur consulting
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.
*/

@import url(html4css1.css);

/* Your customizations go here.  For example: */

img {
  margin: 10px auto 10px 30px;
  padding: 15px;
  border: 1px dotted grey;
}
